body, h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color:pink;
}
header {
    text-align:center;
    background-color: black ;
    color: white;
    padding: 36px;
}
main {
    width:81%; 
    margin: 20px auto; 
    background-color: whitesmoke; 
    padding: 20px; 
}
section {
    margin: 50px 0;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 17px;
    padding: 10px 0; 
}